.App {
  text-align: center;
}

.rojo{
  color: red;
}
.azul{
  color: blue;
}
.button{
  border: 2px solid #0099CC;
  border-radius: 6px;
  color:blueviolet;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}